* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Responsive - Start */

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 10px; /* padding for all collums */
    background-color: rgba(0,0,0,0.3);
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/* Responsive - End */

html {
    font-family: "Lucida Sans", sans-serif;
    height: 100%;
}

body {
    background-image: url("../img/background/main-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 10% 0 10%;
}

.wrapper {
    border: 2px solid grey;
    padding: 15px;
    background-color: rgb(207, 207, 207);
}

.header {
    background-color: rgba(0,0,0,0.3);
    color: white;
}

.footer {
    background: black;
    color: grey;
}



.container-header {
    border: 1px solid black;
}

.container-body {
    border: 1px solid black;
}



ol li {
    list-style-type: none;
}
